extends layout
.nav
  block nav 
      ul
        li
          a(href='/') Home
block main-content
  .any
    ul
      li
        a(href="/login").login Login
      li
        a(href="/register").register Register